<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Vue Practice</title>
        <link rel="stylesheet" href="main.css"/>
    </head>
    <body>
        <div id="shopping-list">
            <div class="header">
                <h1>{{header.toLocaleUpperCase()}}</h1>
                <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
            </div>
            <div v-if="state === 'edit'"class="add-item-form">
                <input type="text" v-model="newItem" @keyup.enter="saveItem" placeholder="Add a new item."/>
                <button class="btn btn-primary" @click="saveItem" v-bind:disabled="newItem.trim().length === 0">Save Item</button>
                <button class="btn btn-primary" @click="buyItemsInCart" :disabled="items.length === 0">Buy Items</button>
            </div>
            <ul>
                <li v-for="item in items">{{item}}</li>
            </ul>
            <div v-if="items.length === 0">Congratulations you've bought all your items.</div>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script>
            let shoppinglist = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'edit',
                    header: 'Shopping List App',
                    newItem: '',
                    items: [
                        '10 party hats',
                        '2 board games', 
                        '20 cups'
                    ]
                },
                methods: {
                    saveItem: function() {
                        !!this.newItem && this.items.push(this.newItem);
                        this.newItem = '';
                    },
                    buyItemsInCart: function() {
                        this.state = "default";
                        this.items = [];
                    },
                    changeState: function(newState) {
                        this.state = newState;
                    }
                }
            })
        </script>
    </body>
</html>
