<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Vue Practice</title>
        <link rel="stylesheet" href="main.css"/>
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{header.toLocaleUpperCase()}}</h1>
            <div class="add-item-form">
                <input type="text" v-model="newItem" v-on:keyup.enter="items.push(newItem);newItem='';"/>
                <button class="btn btn-primary" v-on:click="items.push(newItem); newItem = '';">Save Item</button>
            </div>
            <ul>
                <li v-for="item in items">{{item}}</li>
            </ul>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script>
            let shoppinglist = new Vue({
                el: '#shopping-list',
                data: {
                    header: 'Shopping List App',
                    newItem: '',
                    items: [
                        'First Item',
                        'Second Item', 
                        'Third Item'
                    ]
                }
            })
        </script>
    </body>
</html>
